.audio-player-controls {
  display: flex;
  align-items: center;
  position: relative;
}

.audio-player-controls button {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #b3b3b3;
  outline: none;
}

.audio-player-controls button i {
  font-size: 25px;
}
.audio-player-controls .fa-play-circle,
.audio-player-controls .fa-pause-circle {
  font-size: 40px;
}

.audio-player-controls button:hover {
  color: white;
}

.audio-player-controls .active {
  color: white;
}

.volume-wrapper:hover button {
  color:white;
}