.audio-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}






