.marquee {
  width: 210px;
  align-self: flex-start;
  overflow: hidden;
  white-space: nowrap;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  text-indent: 0;
  animation: marquee 10s linear infinite;
  margin-top: 0;
}

.marquee img {
  position: relative;
  top: 5px;
  margin-right: 5px;
}

