.volume-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.volume-button {
  font-size: 25px;
}

.volume-wrapper input[type="range"] {
  position: absolute;
  width: 60px;
  bottom: 60px;
  transition: 0.2s 0.5s;
}

.volume-slider {
  visibility: hidden;
}

.volume-wrapper:hover .volume-slider {
  visibility: visible;
  transition-delay: 0s;
}